In [77]:
# import dependencies
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests as req
from selenium import webdriver
from splinter import Browser

### NASA Mars News

In [78]:
# set url
nasa_url = "https://mars.nasa.gov/news/"
# set response from url
response = req.get(nasa_url)
# send response to beautiful soup
nasa_soup = bs(response.text, 'html.parser')
# extracts data parsed bs
news_title = nasa_soup.find("div", class_="content_title").text
news_p = nasa_soup.find("div", class_="rollover_description_inner").text

In [79]:
# display news title
news_title

'\n\nA Piece of Mars is Going Home\n\n'

In [80]:
# display paragraph 
news_p

"\nWhen it launches in 2020, NASA's next Mars rover will carry a chunk of Martian meteorite on board.\n"

In [81]:
### JPL Mars Space Images - Featured Image

In [82]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
jpl_base_url = 'https://www.jpl.nasa.gov'
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [83]:
# get html from browser and send to bs
browser.visit(jpl_url)
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')

In [84]:
# scrape feature image
featured_image = jpl_soup.find('article', class_='carousel_item')
featured_image

<article alt="Curiosity Self-Portrait at 'Big Sky' Drilling Site" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA19920-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Curiosity Self-Portrait at 'Big Sky' Drilling Site				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="This self-portrait of NASA's Curiosity Mars rover shows the vehicle at the 'Big Sky' site, where its drill collected the mission's fifth taste of Mount Sharp." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19920_ip.jpg" data-link="/spaceimages/details.php?id=PIA19920" data-title="Curiosity Self-Portrait at 'Big Sky' Drilling Site" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>

In [85]:
# 
feature_image_href = feature_image.a['data-link']
link = jpl_base_url + feature_image_href
browser.visit(link)

In [86]:
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')
image = jpl_soup.find('figure', class_ = 'lede')
image_link = image.a['href']
featured_image_url = jpl_base_url + image_link
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA12826_hires.jpg'

In [87]:
browser.quit()

In [88]:
### Mars Weather

In [89]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

In [90]:
tweet_html = browser.html
tweet_soup = bs(tweet_html, 'html.parser')

In [91]:
tweet = tweet_soup.find('p', class_ = 'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
tweet

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 1961 (Feb 11, 2018), Sunny, high -21C/-5F, low -77C/-106F, pressure at 7.42 hPa, daylight 05:40-17:27</p>

In [92]:
mars_weather = tweet.text.strip()
mars_weather

'Sol 1961 (Feb 11, 2018), Sunny, high -21C/-5F, low -77C/-106F, pressure at 7.42 hPa, daylight 05:40-17:27'

In [93]:
browser.quit()

In [94]:
### Mars Facts

In [95]:
# set url
facts_url = 'https://space-facts.com/mars/'

In [96]:
# read facts 
facts_list = pd.read_html(facts_url)
facts_list

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [97]:
# put into df
facts_df = facts_list[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [98]:
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 Â°C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [99]:
### Mars Hemisperes

In [100]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
USGS_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(USGS_url)

In [101]:
USGS_html = browser.html
USGS_soup = bs(USGS_html, 'html.parser')

In [ ]:
# make empty list for hemisphere image urls
hemisphere_urls = []

# find products
products = USGS_soup.find('div', class_ = 'result-list')

# find hemispheres
hemispheres = products.find_all('div', class_ = 'item')

In [ ]:
# iterates through hemispheres
for hemisphere in hemispheres:
    title = hemisphere.find('div', class_ = 'description')
    
    title_text = title.a.text
    title_text = title_text.replace('Enhanced', '')
    browser.click_link_by_partial_text(title_text)
    
    usgs_html = browser.html
    usgs_soup = bs(usgs_html, 'html.parser')
    
    image = usgs_soup.find('div', class_= 'downloads').find('ul').find('li')
    image_url = image.a['href']
    
    hemisphere_urls.append({'title': title_text, 'image_url': image_url})
    
    browser.click_link_by_partial_text('Back')

In [103]:
browser.quit