In [138]:
# import dependencies
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests as req
from selenium import webdriver
from splinter import Browser

In [139]:
### NASA Mars News

In [140]:
# set url
nasa_url = "https://mars.nasa.gov/news/"
# set response from url
response = req.get(nasa_url)
# send response to beautiful soup
nasa_soup = bs(response.text, 'html.parser')
# extracts data parsed bs
news_title = nasa_soup.find("div", class_="content_title").text
paragraph_text = nasa_soup.find("div", class_="rollover_description_inner").text

In [141]:
# display news title
news_title

'\n\nMars Reconnaissance Orbiter Preparing for Years Ahead\n\n'

In [142]:
# display paragraph 
paragraph_text

"\nNASA's Mars Reconnaissance Orbiter (MRO) has begun extra stargazing to help the space agency accomplish advances in Mars exploration over the next decade.\n"

In [143]:
### JPL Mars Space Images - Featured Image

In [144]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
jpl_base_url = 'https://www.jpl.nasa.gov'
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [145]:
# get html from browser and send to bs
browser.visit(jpl_url)
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')

In [146]:
# scrape feature image
feature_image = jpl_soup.find('article', class_='carousel_item')
feature_image

<article alt="Scoop Marks in the Sand at 'Rocknest'" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA16469-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Scoop Marks in the Sand at 'Rocknest'				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="This is a view of the third (left) and fourth (right) trenches made by the 1.6-inch-wide (4-centimeter-wide) scoop on NASA's Mars rover Curiosity in October 2012 and shows some of the details regarding the properties of the 'Rocknest' wind drift sand." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA16469_ip.jpg" data-link="/spaceimages/details.php?id=PIA16469" data-title="Scoop Marks in the Sand at 'Rocknest'" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>

In [147]:
# 
feature_image_href = feature_image.a['data-link']
link = jpl_base_url + feature_image_href
browser.visit(link)

In [148]:
jpl_html = browser.html
jpl_soup = bs(jpl_html, 'html.parser')
image = jpl_soup.find('figure', class_ = 'lede')
image_link = image.a['href']
featured_image_url = jpl_base_url + image_link
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16469_hires.jpg'

In [149]:
browser.quit()

In [150]:
### Mars Weather

In [151]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

In [152]:
tweet_html = browser.html
tweet_soup = bs(tweet_html, 'html.parser')

In [153]:
tweet = tweet_soup.find('p', class_ = 'TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
tweet

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 1958 (Feb 07, 2018), Sunny, high -14C/6F, low -77C/-106F, pressure at 7.41 hPa, daylight 05:41-17:27</p>

In [154]:
mars_weather = tweet.text.strip()
mars_weather

'Sol 1958 (Feb 07, 2018), Sunny, high -14C/6F, low -77C/-106F, pressure at 7.41 hPa, daylight 05:41-17:27'

In [155]:
browser.quit()

In [156]:
### Mars Facts

In [157]:
# set url
facts_url = 'https://space-facts.com/mars/'

In [158]:
# read facts 
facts_list = pd.read_html(facts_url)
facts_list

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [159]:
# put into df
facts_df = facts_list[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [160]:
facts_html = facts_df.to_html()
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 째C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [161]:
### Mars Hemisperes

In [162]:
# set up splinter browser and set urls
executable_path = {'executable_path':'/Applications/chromedriver'}
browser = Browser('chrome',**executable_path, headless = False )
USGS_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(USGS_url)

In [163]:
USGS_html = browser.html
USGS_soup = bs(USGS_html, 'html.parser')

In [164]:
# make empty list for hemisphere image urls
hemisphere_urls = []

# find products
products = USGS_soup.find('div', class_ = 'result-list')

# find hemispheres
hemispheres = products.find_all('div', class_-'item')

NameError: name 'class_' is not defined

In [135]:
# iterates through hemispheres
for hemisphere in hemispheres:
    title = hemisphere.find('div', class_ = 'description')
    
    title_text = title.a.text
    title_text = title_text.replace('Enhanced', '')
    browser.click_link_by_partial_text(title_text)
    
    usgs_html = browser.html
    usgs_soup = bs(usgs_html, 'html.parser')
    
    image = usgs_soup.find('div', class_= 'downloads').find('ul').find('li')
    image_url = image.a['href']
    
    hemisphere_urls.append({'title': title_text, 'image_url': image_url})
    
    browser.click_link_by_partial_text('Back')

NameError: name 'hemispheres' is not defined

In [ ]:

for hemisphere in hemispheres:                                               # iterates through hemispheres
    title = hemisphere.find('div', class_='description')
    
    title_text = title.a.text                                                # extracts cleaned title
    title_text = title_text.replace(' Enhanced', '')
    browser.click_link_by_partial_text(title_text)                           # (automated) click
    
    usgs_html = browser.html                                                 # acquires response from URL
    usgs_soup = bs(usgs_html, 'html.parser')                                 # sends response to beautiful soup
    
    image = usgs_soup.find('div', class_='downloads').find('ul').find('li')  # extracts image url
    img_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title_text, 'img_url': img_url})  # adds dictionary to list  
    
    browser.click_link_by_partial_text('Back')                               # (automated) click back